* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: rgb(88, 88, 88);
}
body{
    font-size: 100%;
    max-width: 80%;
    border: 3px solid goldenrod;
    margin: 0 auto;
    background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 5px ridge goldenrod;
    background-color: rgb(73, 0, 0);
    color: whitesmoke;
}
header h2{
    margin: .75em;
    font-size: 250%;
}
header h3{
    margin-bottom: .75em;
    font-size: 150%;
}
main{
    margin: 1em;
}
img{
    margin: 1em;
    max-width: 100%;
    display: block;
    border: 3px ridge goldenrod;
}
div{
    display: grid;
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;

}
div:nth-of-type(even){
    flex-direction: row-reverse;
}
div p{
    margin: .5em 0;
    font-size: 130%;
    border: 2px ridge goldenrod;
    background-color: rgb(73, 0, 0);
    color: whitesmoke;
    padding: .5em .75em;
    text-align: center;
}
main a{
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 1em 2em;
    background-color: rgba(73, 0, 0, 0.45);
    border: rgba(0, 0, 0, 0.365);
    border-radius: 10px;
    color: black;
    font-size: 120%;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out 300ms;
    text-decoration: none;
}
main a:hover{
    border: 2px ridge goldenrod;
    background-color: black;
    color: whitesmoke;
}
footer{
    background-color: rgb(73, 0, 0);
}
footer p{
    padding: 25px;
    color: whitesmoke;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    font-variant: small-caps;
}

@media (max-width: 767px){
    div{
        max-width: 100%;
        flex: 100%;
    }
    body{
        max-width: 100%;
    }
    div p{
        font-size: 100%;
    }
}